h1 #{name}
p The ensemblejs framework generates this page. If you want your own splash page then you create an index.jade in your /game/views/pages/ folder. The framework will defer to that folder first and fallback to pre-packaged files.
h2 Get Playing
p This game supports the following game modes:
ul
  each link in links
    li
      form(id="a", method="#{link.method}", action="#{link.uri}")
        input(type="hidden", name="mode", value="#{link.data.mode}")
        a(onclick="document.getElementById('a').submit()") #{link.name}