extends ../layouts/non-game-page.pug

block title
  title Join #{game.name}

block content
  form(id="the-form", method=join.method, action=join.uri)
    .header
      h1 Join Game
    .contents
      p.copy You’ve been invited to join a game of #{game.name} by a friend.
      p.copy join below to start playing.
      if (save.requiresSecret)
        input(name="secret", value="" placeholder="Tell me a secret...")
    .options
      .one-option
        .tap-pulse
        .tap-button
          a#form-action #{join.name}

block scripts
  script(src="/ensemble/js/util/anchor-post-form.js")