extends ../layouts/non-game-page.pug
include ../partials/links.pug

block content
  h1 #{game.name}
  h2 Saves
  if saves.length > 0
    p You have the following saves in progress
    each save in saves
      form(id="the-form", method=save.method, action=save.uri)
        input(type="hidden", name="mode", value=save.data.mode)
        a#form-action.button #{save.name}
  else 
    p You have no saved games.

append scripts
  script(src="/ensemble/js/util/anchor-post-form.js")