.widget.widget-square-small(id=id)
  p.title #{title}
  p.value #{value}
  if toPlayer
    a(href="/device/move?toPlayer=#{toPlayer}") Switch to player.
  p.devices devices: #{devices}#{differentSubnet}