.frame-square-medium(id=id)
  .widget.widget-rect-small(id="#{id}-rate")
    p.title #{title}
    p.value
  .widget.widget-rect-small(id="#{id}-samples")
    p.title Samples
    p.value 0
  .widget.widget-rect-small(id="#{id}-min")
    p.title Min (ms)
    p.value
  .widget.widget-rect-small(id="#{id}-max")
    p.title Max (ms)
    p.value
  .widget.widget-rect-small(id="#{id}-50th")
    p.title 50th (ms)
    p.value
  .widget.widget-rect-small(id="#{id}-75th")
    p.title 75th (ms)
    p.value
  .widget.widget-rect-small(id="#{id}-95th")
    p.title 95th (ms)
    p.value
  .widget.widget-rect-small(id="#{id}-99th")
    p.title 99th (ms)
    p.value