mixin makePostLink(link)
  form(id="the-form", method=link.method, action=link.uri)
    input(type="hidden", name="mode", value=link.data.mode)
    a#form-action #{link.name}

mixin makeGetLink(link)
  a(href=link.uri) #{link.name}

mixin makeLink(link)
  if link.method === 'POST'
    +makePostLink(link)
  else
    +makeGetLink(link)